<!DOCTYPE html>
<html lang ="en">
<head>
  <meta charset="UTF-8">
  <title>urlShortener</title>
</head>
<body>
  <ul>
    <li>
        <a href="api/v1">Home</a>
    </li>
  </ul>
  <div class = 'form'>
    <h1>Url Shortener</h1>
    <p>Input the information you would like below</p>
    <form method ="post">
      <textarea name="message"></textarea>
      <br>
      <input role="button" type="submit">
    </form>
  </div>
</body>
<footer>
    <p>2016 Global Concepts and Media LLC. All rights reserved.</b> Terms &amp; Privacy</p>
</footer>
</html>
